# Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# VSCode settings (optional, if you're using VSCode)
.vscode/

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Python egg info
*.egg-info/
dist/
build/
